.adaptiveImageSlider {
  padding: 0px 0px 60% 0px;
  overflow: hidden;
  position: relative;
  filter: grayscale(20%);
  transition: all 0.5s ease;
}
.adaptiveImageSlider:hover {
  filter: brightness(110%);
  transition: all 5s ease;
  -webkit-filter: brightness(110%);
}

.hoverbgSliderEffect:hover .sliderbg {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.ZoomSearch .SvgSearch {
  width: 100%;
  height: 100%;
  transition: scale 400ms;
}
.ZoomSearch:hover .SvgSearch {
  scale: 130%;
}
