/* ХОВЕР НА КНОПКУ ПРИ КОТОРОЙ ТЕКСТУ ЗАДАЕТСЯ ПОДЧЕРКИВАНИЕ */
.textBtnShowMore {
  position: relative;
}
.textBtnShowMore::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background-color: aliceblue;
  scale: 0%;
  transition: all 0.3s ease;
}

.hoverBtnShowMore:hover .textBtnShowMore::after {
  scale: 100%;
}
/* ХОВЕР НА КНОПКУ ПРИ КОТОРОЙ ТЕКСТУ ЗАДАЕТСЯ ПОДЧЕРКИВАНИЕ */
