/* ПЕРЕДНИЙ ГРАДИЕНТ ПЕРЕД КАРТИНКОЙ СТРАНИЦЫ ПРОСМОТРА АНИМЕ */
.GradientWatchAnime {
  display: inline-block;
  position: relative;
  line-height: 0;
}
.GradientWatchAnime:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  /*   background: linear-gradient(180deg, rgba(30, 33, 66, 0.85) 0%, #1e2142 95%); */
  background: rgb(30, 33, 66);
  background: linear-gradient(
    180deg,
    rgba(30, 33, 66, 0.7315301120448179) 0%,
    rgba(30, 33, 66, 0.8407738095238095) 14%,
    rgba(30, 33, 66, 0.8547794117647058) 50%,
    rgba(30, 33, 66, 0.9920343137254902) 80%,
    rgba(30, 33, 66, 0.9752275910364145) 90%,
    rgba(30, 33, 66, 1) 100%
  );
}
/* ПЕРЕДНИЙ ГРАДИЕНТ ПЕРЕД КАРТИНКОЙ СТРАНИЦЫ ПРОСМОТРА АНИМЕ */

.mybutton {
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #da4f4a;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.1px;
  transition: all 0.5s ease;
}

.mybutton:hover {
  letter-spacing: 2.5px;
  background-color: #da4f4a;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(224 83 87) 0px 7px 19px 0px;
}

.mybutton:active {
  letter-spacing: 2.5px;
  background-color: #e05357;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(224 83 87) 0px 7px 19px 0px;
  transform: translateY(-2px);
  transition: 100ms;
}
.gridcols2 {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: unset;
}
@media (max-width: 640px) {
  .gridcols2 {
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows: unset;
  }
}

/* ХОВЕР ГЛАВНЫХ ПЕРСОНАЖЕЙ ЗАМЕНА ЦВЕТА ТЕКСТА */
.hoverGeneralPerson:hover h1 {
  color: #e05357;
}
/* ХОВЕР ГЛАВНЫХ ПЕРСОНАЖЕЙ ЗАМЕНА ЦВЕТА ТЕКСТА */

.buttonWatch {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #363d79;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonWatch:hover {
  border-color: #646cff;
}

.buttonWatch:focus,
.buttonWatch:focus-visible {
  border-color: #646cff;
}

@media (max-width: 868px) {
  .gridAdaptiveBlockPlayer {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 640px) {
  .gridAdaptiveBlockPlayer {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 1fr;
  }
}

.textBtnReadMore {
  position: relative;
}
.textBtnReadMore::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -4px;
  background-color: #f6615b;
  scale: 0%;
  transition: all 0.3s ease;
}

.hoverBtnShowMore:hover .textBtnReadMore::after {
  scale: 100%;
}
