.accordion-container .accordion {
  background-color: aqua !important;
}

.snovka:hover {
  filter: drop-shadow(5px 5px 40px #e05357);
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}
